body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 400;
}

* {
  box-sizing: border-box;
}

.container-main {
  margin: 46px auto 0;
  width: 651px;
  height: 757px;

  background-color: #9fa4b9;
  background-image: url(img/background.jpg);
  box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.15);

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

/*======= Dialog =======*/

.dialog {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px 20px;
}

.message {
  display: flex;
  margin: 10px 0;
}

.message-left {
  align-self: flex-start;
}

.message-right {
  align-self: flex-end;
  flex-direction: row-reverse;
}

.message__autor {
  width: 47px;
  height: 47px;
  background-image: url(img/user_photo.jpg);
  clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
}

.message__space {
  width: 18px;
}

.message__tringle {
  width: 0;
  height: 0;
  margin: 7px -7px 0;
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  border-top: 7px solid #ffffff;
}

.message__text {
  min-height: 46px;
  max-width: 470px;
  width: auto;
  padding: 11px 15px;
  background: #ffffff;
  border-radius: 5px;

  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #000000;
}

/*====== Date-line =====*/

.date-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.date-line__left {
  height: 0;
  width: 246px;
  flex: 1 1;
  border: 1px solid #dbdbdb;
  margin-left: -20px;
}

.date-line__right {
  height: 0;
  width: 254.2px;
  flex: 1 1;
  border: 1px solid #dbdbdb;
  margin-right: -20px;
}

.date-line__text {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
  color: #000000;
  user-select: none;
  padding: 0 15px;
}

/*===== Separation-line =====*/

.separation-line {
  border: 1px solid #dbdbdb;
}

/*======== Form ========*/

.form {
  margin: 0;
  padding: 20px 41px 30px 20px;
}

.form__input {
  margin-bottom: 20px;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  width: 100%;
  height: 129px;

  font-family: 'Nano sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 19px;
  color: #696969;

  padding: 10px;
  white-space: normal;
  resize: none;
}

.form__btn {
  width: 144px;
  height: 41px;
  background: #0f54b9;
  box-shadow: 0px 4px 6px rgba(15, 84, 185, 0.3);
  border-radius: 21px;
  border: none;
}

.form__btn span {
  /* шрифт платный, в бесплатном доступе не найден */
  /* font-family: 'Proxima Nova'; */
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
